---
http_interactions:
  - request:
      method: post
      uri: https://api.smsgatewayapi.com/v1/voice/send
      body:
        encoding: UTF-8
        string:
          '{"to":"+3161245678","message":"Hello this is a test message!","sender":"Ruby
          SDK"}'
      headers:
        Content-Type:
          - application/json
        x-client-id:
          - "436621713682841522298"
        X-Client-Secret:
          - FGbXCUtjrY64E32BbBkz8
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"messageid":"ug3g0s0aa7qahuujjkdknhwigvrcjy"}'
    recorded_at: Thu, 29 Aug 2024 12:54:50 GMT
recorded_with: VCR 6.2.0
